*.asv
*.dat
CppExec/polyProp
CppExec/validatePoly
CppExec/cmake_install.cmake
CppExec/Makefile
CppExec/CMakeFiles/validatePoly.dir/validatePoly.cpp.o.d
CppExec/CMakeFiles/validatePoly.dir/validatePoly.cpp.o
CppExec/CMakeFiles/validatePoly.dir/progress.make
CppExec/CMakeFiles/validatePoly.dir/link.txt
CppExec/CMakeFiles/validatePoly.dir/flags.make
CppExec/CMakeFiles/validatePoly.dir/DependInfo.cmake
CppExec/CMakeFiles/validatePoly.dir/depend.make
CppExec/CMakeFiles/validatePoly.dir/compiler_depend.ts
CppExec/CMakeFiles/validatePoly.dir/compiler_depend.make
CppExec/CMakeFiles/validatePoly.dir/compiler_depend.internal
CppExec/CMakeFiles/validatePoly.dir/cmake_clean.cmake
CppExec/CMakeFiles/validatePoly.dir/build.make
CppExec/CMakeFiles/TargetDirectories.txt
CppExec/CMakeFiles/progress.marks
CppExec/CMakeFiles/polyProp.dir/progress.make
CppExec/CMakeFiles/polyProp.dir/polyProp.cpp.o.d
CppExec/CMakeFiles/polyProp.dir/polyProp.cpp.o
CppExec/CMakeFiles/polyProp.dir/link.txt
CppExec/CMakeFiles/polyProp.dir/flags.make
CppExec/CMakeFiles/polyProp.dir/DependInfo.cmake
CppExec/CMakeFiles/polyProp.dir/depend.make
CppExec/CMakeFiles/polyProp.dir/compiler_depend.ts
CppExec/CMakeFiles/polyProp.dir/compiler_depend.make
CppExec/CMakeFiles/polyProp.dir/compiler_depend.internal
CppExec/CMakeFiles/polyProp.dir/cmake_clean.cmake
CppExec/CMakeFiles/polyProp.dir/build.make
CppExec/CMakeFiles/Makefile2
CppExec/CMakeFiles/Makefile.cmake
CppExec/CMakeFiles/CMakeOutput.log
CppExec/CMakeFiles/CMakeDirectoryInformation.cmake
CppExec/CMakeFiles/cmake.check_cache
CppExec/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CppExec/CMakeFiles/3.22.1/CompilerIdCXX/a.out
CppExec/CMakeFiles/3.22.1/CMakeSystem.cmake
CppExec/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CppExec/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CppExec/CMakeCache.txt
CppExec/CGTProp
*.o
*.d
*.cmake
*.internal
*.make
*.ts
*.txt
CppExec/findTca
